#container {
    margin-top: 50px;
    margin-right: 100px;
    margin-left: 100px;
}

h1, h2, h3, h4{
    background-color: #12460b;
    color: white;
    border: 1px solid #D6A800;
    padding: 10px;
}

a {
    color: #14610a;
    text-decoration: none;
}

a:hover {
    color:#082c04;
}

a:visited {
    color: #5d9154;
}